@tailwind base;
@tailwind components;
@tailwind utilities;

@import '/font/Circular-std-master/css/circular-std.css';

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.bebas {
  font-family: var(--bebas);
}

.manrope {
  font-family: var(--font-manrope);
}

.inter {
  font-family: var(--font-inter);
}

.circular {
  font-family: 'Circular Std', sans-serif; /* Use a fallback font */
}

.circularMedium {
  font-family: 'Circular Std', sans-serif; /* Use a fallback font */
  font-weight: 400;
}

.circularBold {
  font-family: 'Circular Std', sans-serif; /* Use a fallback font */
  font-weight: 700;
}

.ant-table-footer {
  @apply border-b border-custom-gray_200/10;
}
.react-pdf__Page__canvas {
  width: 100% !important;
  height: 100% !important;
  border-radius: 2px !important;
}

.ant-picker-calendar .ant-picker-panel .ant-picker-month-panel,
.ant-picker-calendar .ant-picker-panel .ant-picker-date-panel {
  background-color: white !important;
}

.ant-collapse .ant-collapse-item
.ant-collapse-content {
  background-color: white !important;
}

.ant-menu-inline-collapsed li {
  @apply !flex-col justify-center !px-0.5 !pb-1 !pt-2.5;
}
.ant-menu-inline-collapsed .ant-menu-title-content {
  @apply text-center !opacity-100;
}


.ant-breadcrumb-separator {
  @apply flex items-center justify-center;
}

.ant-table-footer {
  @apply !p-0;
}

.ant-btn-text:disabled,
.ant-btn-text.ant-btn-disabled {
  @apply !text-custom-gray_400;
}

.ant-btn-primary:not(:disabled):not(.ant-btn-disabled):hover {
  @apply !text-custom-main;
}
.ant-upload-btn {
  @apply !p-0;
}
